<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container-fluid">
    <a class="navbar-brand">فروشگاه‌مکتب‌62</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% let pages=[{title:"صفحه‌اصلی",name:"home"},
        {title:"ارتباط‌باما",name:"contact"},{title:"درباره‌ما",name:"about"} ]
        %> <% pages.forEach((element, index) => { %>
        <li class="nav-item">
          <% if (index === pagenumber) { %>
          <a class="nav-link active" href="/<%= element.name %>"
            ><%= element.title %></a
          >
          <% } else { %>
          <a class="nav-link" href="/<%= element.name %>"
            ><%= element.title %></a
          >
          <% } %>
        </li>
        <% }) %>
      </ul>
      <form class="d-flex" dir="ltr" method="GET" action="/">
        <input
          class="form-control me-2"
          type="search"
          placeholder="جست‌و‌جو‌"
          aria-label="Search"
          dir="rtl"
          name="filter"
        />
        <button class="btn btn-outline-success" type="submit">جست‌و‌جو‌</button>
      </form>
    </div>
  </div>
</nav>
