<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
    <title>About</title>
  </head>
  <body dir="rtl">
    <%- include('partials/navbar', {pagenumber:2}); %>
    <h1>درباره‌ما‌</h1>
  </body>
</html>
