<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
    <title>Contact</title>
  </head>
  <body dir="rtl">
    <%- include('partials/navbar', {pagenumber:1}); %>
    <h1>ارتباط با ما</h1>
  </body>
</html>
