<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
    <title>404</title>
  </head>
  <body dir="rtl">
    <%- include('partials/navbar', {pagenumber:-1}); %>
    <div class="mt-4">
      <h1 class="text-center">404</h1>
      <h4 class="text-center">Not Found</h4>
      <p class="text-center"><a href="/">back to home</a></p>
    </div>
  </body>
</html>
